/* jost-regular - latin */
@font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/jost-v12-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-regular.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-500 - latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/jost-v12-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-500.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-600 - latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/jost-v12-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-600.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-700 - latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/jost-v12-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-700.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-800 - latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/jost-v12-latin-800.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-800.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-800.svg#Jost') format('svg'); /* Legacy iOS */
  }
  /* jost-900 - latin */
  @font-face {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/jost-v12-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/jost-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/jost-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/jost-v12-latin-900.woff') format('woff'), /* Modern Browsers */
         url('../fonts/jost-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/jost-v12-latin-900.svg#Jost') format('svg'); /* Legacy iOS */
  }

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Jost';
    color: #C0C0C0;
    background-color: #171835;
    font-size: 1rem;
    line-height: 1.7;
}
// *******************************************************
                // Root Start Here
// *******************************************************
$white-color : #fff;
$font-bold : bold;
$secondery-color : #FB6468;
$black-color : #000;
$transition : 0.2s ease-in-out;
$background-gredient: linear-gradient(180deg, rgba(23, 24, 53, 0.3) 0%, rgba(0, 0, 0, 0.3) 100%);

// *******************************************************
                // Root end Here
// *******************************************************



// *******************************************************
                // Comman Css Start Here
// *******************************************************
a{
    text-decoration: none;
}
ul li{
    list-style: none;
}
ul{
    margin: 0;
    padding: 0;
}
.btn{
    padding: 1rem 2rem;
    background: linear-gradient(90deg, #FB6567 0%, #EC008B 101.5%);
    border-radius: 30px;
    color: $white-color;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 0.9rem;
    transition: $transition;
    &:hover
    {
        color: $white-color;
        background: linear-gradient(0deg, #FB6567 0%, #EC008B 101.5%);
    }
}
.spacerY-120
{
    padding: 120px 0;
}
h1{
    font-size: calc(1.575rem + 3.3428571429vw);
    font-weight: bold;
}
h2{
    font-size: 3.5rem;
    font-weight: bold;

}
img
{
    height: auto;
    max-width: 100%;
}
.row .heading-content p
{
    max-width: 600px;
    margin: auto;
}
.header-fixed{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background-color: #100620;
    transition: 0.3s ease-in-out;
}
.active a
{
    color: #FB6468 !important;
}      
.no-scroll {
    overflow:hidden;
}
// *******************************************************
                // Comman Css End Here
// *******************************************************


// *******************************************************
                // Header Start Here
// *******************************************************
.header
{
    background-color: #12132A;
    transition: 0.5s ease-in-out;
    .container
    {
        .nav-bar
        {
            .nav-content 
            {
                .nav-parts 
                {
                    .nav-items 
                    {
                        .main-menu li a
                        {
                            padding: 0.5rem 1rem;
                            display: block;
                            text-transform: capitalize;
                            color: $white-color;
                            font-weight: $font-bold;
                            transition: $transition;
                            &:hover{
                                color: $secondery-color;
                            }
                        }
                    }
                    .nav-social .social
                    {
                        .social-item 
                        {
                            margin-left: 1rem;
                            a
                            {
                                height: 35px;
                                width: 35px;
                                border-radius: 5px;
                                display: block;
                                background-color: $white-color;
                                text-align: center;
                                line-height: 35px;
                                color: $black-color;
                                transition: $transition;
                                &:hover{
                                    background-color: $secondery-color;
                                    color: $white-color;
                                }
                            }
                        }
                    }
                }
            
            }
            .menu-bar i
            {
                font-size: 1.5rem;
                color: $white-color;
                cursor: pointer;
                transition: $transition;
            }
        }
    }
}
.mob-menu
{
    background-color: #12132A;
    transition: $transition;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    // padding-top: 250px;
    // transform: translateY(100px);
    .nav-parts 
    {
        .nav-items 
        {
            .main-menu 
            {   
                display: flex;
                flex-direction: column;
                text-align: center;
                li 
                {
                    a
                    {
                        padding: 0.5rem 1rem;
                        display: block;
                        text-transform: capitalize;
                        color: $white-color;
                        font-weight: $font-bold;
                        transition: $transition;
                        &:hover{
                            color: $secondery-color;
                        }
                    }
                }
            }
            
        }
        .nav-social .social
        {
            .social-item 
            {
                margin-left: 1rem;
                a
                {
                    height: 35px;
                    width: 35px;
                    border-radius: 5px;
                    display: block;
                    background-color: $white-color;
                    text-align: center;
                    line-height: 35px;
                    color: $black-color;
                    transition: $transition;
                    &:hover{
                        background-color: $secondery-color;
                        color: $white-color;
                    }
                }
            }
        }
    }
}
.open
{
    display: block;
}
.close
{
    display: none;
}
.transition
{
    animation: slide_down 0.5s ease-in-out ;
}
@keyframes slide_down
{
    0% {
        opacity: 0;
        transform: translateY(-100%);
    } 
    100% {
        opacity: 0.9;
        transform: translateY(0);
    } 
}
// *******************************************************
                // Header End Here
// *******************************************************


// *******************************************************
                // home start Here
// *******************************************************
.home
{
    background: $background-gredient;
    .container
    {
        .row
        {
            .heading-content
            {
                text-align: center;
                color: $white-color;
                .heading
                {
                    @extend h1;
                    margin-bottom: 20px;
                }
                p
                {
                    font-size: 1.125rem;
                }
            }
            .banner-images
            {
                margin-top: 5rem;
                .banner-img-list .banner-img-item
                {
                    transition: $transition;
                    &:hover
                    {
                        transform: translateY(-20px);
                    }
                }
            }
        }
    }
}

// *******************************************************
                // home end Here
// *******************************************************



// *******************************************************
                // About start Here
// *******************************************************
.about
{
    .container
    {
        .row  
        {
            .about-left
            {
                .about-tumb .about-img
                {
                    animation: light 4s ease-in-out infinite alternate;
                }
            }
            .about-right
            {
                .about-content
                {
                    .heading
                    {
                        @extend h2;
                        color: $white-color;
                    }
                    p
                    {
                        font-size: 1.125rem;
                        line-height: 1.65;
                    }
                }
            }
        }
    }
}
.ab-sec
{
    background: $background-gredient;
}
@keyframes light {
    10%, 90% {
        opacity: 0.5;
    }
    20%, 80% {
        opacity: 0.7;
    }
    30%, 50%, 70% {
        opacity: 0.9;
    }
    40%, 60% {
        opacity: 1;
    }
}

// *******************************************************
                // About End Here
// *******************************************************


// *******************************************************
                // Roadmap Section Start here
// *******************************************************
.roadmap
{
    background: $background-gredient;

    .container
    {
        .roadmap-wrapper
        {
            
            .row .roadmap-item
            {
                .roadmap-inner
                {
                    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
                    flex-direction: column;
                    gap: 40px;
                    .roadmap-thumb
                    {
                        height: 150px;
                        width: 150px;
                        border-radius: 50%;
                        background: linear-gradient(180deg, rgba(168, 210, 45, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                        display: grid;
                        place-items: center;
                        span
                        {
                            font-size: 2.5rem;
                            font-weight: bold;
                            color: $white-color;
                        }
                    }
                    .roadmap-thumb-bg-2
                    {
                        background: linear-gradient(180deg, rgba(254, 220, 116, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    }
                    .roadmap-thumb-bg-3
                    {
                        background: linear-gradient(180deg, rgba(43, 255, 255, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    }
                    .roadmap-thumb-bg-4
                    {
                        background: linear-gradient(180deg, rgba(50, 165, 90, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    }
                    .roadmap-thumb-bg-5
                    {
                        background: linear-gradient(180deg, rgba(252, 136, 184, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
                    }
                    .roadmap-content
                    {
                        h4
                        {
                            &:hover
                            {
                                color: #FB6468;
                            }
                        }
                    }
                }
            }
        }
    }
}

// *******************************************************
                // Roadmap Section End here
// *******************************************************


.team {
    background-color: #12132A;
}

// *******************************************************
                // About start Here
// *******************************************************
.artist
{
    .container
    {
        .row  
        {
            .artist-right
            {
                .artist-content
                {
                    .heading
                    {
                        @extend h2;
                        color: $white-color;
                    }
                    p
                    {
                        font-size: 1rem;
                        line-height: 1.65;
                    }
                }
            }
        }
    }
}


// *******************************************************
                // artist End Here
// *******************************************************


// *******************************************************
                // community start Here
// *******************************************************
.community
{
    background-color: #12132A;

}

// *******************************************************
                // community end Here
// *******************************************************


// *******************************************************
                // FAQ Start Here
// *******************************************************
.accordion-item
{
    background-color: transparent;
    .accordion-button{
        background-color: transparent;
        color: $white-color;
        font-size: 1.2rem;
        background-color: transparent;
        color: #FB6468;
        font-family: "Jost", sans-serif;
        font-weight: bold;
        padding: 1.5rem 1rem;
        border: none;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        &:focus
        {
            outline: none;
            box-shadow: none;
        }
        &::after
        {
            background-image: url(../images/plus-solid.svg) ;
            content: '';
        }
        &:not(.collapsed)::after
        {
            background-image: url(../images/minus.svg);
        }
    }
    .accordion-body
    {
        color: #C0C0C0;
    }
}

.accordion-button.collapsed {
    color: #fff;
}
// *******************************************************
                // FAQ end Here
// *******************************************************


// *******************************************************
                // Footer Start Here
// *******************************************************
.footer
{
    background-color: #12132A;
    .nav-social .social
        {
            .social-item 
            {
                margin-left: 1rem;
                a
                {
                    height: 35px;
                    width: 35px;
                    border-radius: 5px;
                    display: block;
                    background-color: $white-color;
                    text-align: center;
                    line-height: 35px;
                    color: $black-color;
                    transition: $transition;
                    &:hover{
                        background-color: $secondery-color;
                        color: $white-color;
                    }
                }
            }
        }
}


// *******************************************************
                // Footer End Here
// *******************************************************


// *******************************************************
                // Media Query start Here
// *******************************************************
// X-Small devices (portrait phones, less than 576px)
@media screen and (max-width: 575.97px) {
    .home{
        padding-top: 180px  !important;
    }
    h2{
        font-size: 1.8rem;
        font-weight: bold;
    
    }
}
@media (min-width: 575.98px) { 
    .home{
        padding-top: 180px  !important;
    }
    h2{
        font-size: 2.5rem;
        font-weight: bold;
    
    }
 }

// Small devices (landscape phones, less than 768px)
@media (min-width: 767.98px) { 
    h2{
        font-size: 3rem;
        font-weight: bold;
    
    }
    .roadmap-content{
        width: calc(100% - 200px);
    }
    .roadmap-inner
    {
        flex-direction: row !important;
        text-align: left !important;
    }
    .community-wrapper
        {
            background-image: url(../images/asset19.png);
            background-size: 100% 100%;
            background-repeat: no-repeat;
            padding-block: 60px;
        }

 }

// Medium devices (tablets, less than 992px)
@media (min-width: 991.98px) { 
   

    .roadmap
    {
        background-image: url(../images/asset18.png);
        background-position: bottom;
        background-size: cover;
    }
 }

// Large devices (desktops, less than 1200px)
@media (min-width: 1199.98px) { 
    h2{
        font-size: 3.5rem;
        font-weight: bold;
    
    }
 }

// X-Large devices (large desktops, less than 1400px)
@media (min-width: 1399.98px) { 
    .home{
        padding: 120px 0;
    }
 }

@media  screen and (max-width: 1200px) {
    .header{
        position: fixed;
        left: 0;
        right: 0;
        z-index: 1000;
    }
}
// *******************************************************
                // Media Query end Here
// *******************************************************